<div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title float-left">Trang cá nhân</h4>

                           <!--<ol class="breadcrumb float-right">
                                <li class="breadcrumb-item"><a href="#">Adminox</a></li>
                                <li class="breadcrumb-item"><a href="#">Extras</a></li>
                                <li class="breadcrumb-item active">Profile</li>
                            </ol>--> 

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->


                <div class="row">
                    <div class="col-sm-12">
                        <div class="profile-bg-picture" style="background-image:url('http://localhost:8000/assets/images/bangtin/img-3.jpg')">
                            <span class="picture-bg-overlay"></span><!-- overlay -->
                        </div>
                        <!-- meta -->
                        <div class="profile-user-box">
                            <div class="row">
                                <div class="col-sm-6">
                                    <span class="pull-left m-r-15"><img src="https://vetc.com.vn/cms/uploads/9646d28d-593c-4bc8-aa2d-896715aad068-210x197.jpg" alt="" class="thumb-lg rounded-circle"></span>
                                    <div class="media-body">
                                        <h4 class="m-t-5 m-b-5 font-18 ellipsis">Trần Tiểu Mẫn</h4>
                                        <p class="font-13"> Chức vụ: Nhân viên</p>
                                        <p class="text-muted m-b-0"><span>IG: ttm2812</span></p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                        <div class="text-right">
                                                <button type="button" class="btn btn-success waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal">Sửa thông tin</button>
                                       
                                        </div>
                                    </div>            
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ meta -->
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-md-6">
                        <!-- Personal-Information -->
                        <div class="card-box">
                            <h4 class="header-title mt-0 m-b-20">Thông tin cá nhân</h4>
                            <div class="panel-body">
                                <p class="text-muted font-13">
                                    Nhân viên Công ty TNHH thu phí tự động VETC
                                </p>

                                <hr/>

                                <div class="text-left">
                                    <p class="text-muted font-13"><strong>Tên đầy đủ :</strong> <span class="m-l-15">Trần Tiểu Mẫn</span></p>

                                    <p class="text-muted font-13"><strong>Điện thoại :</strong><span class="m-l-15">(+84) 968 302 302</span></p>

                                    <p class="text-muted font-13"><strong>Email :</strong> <span class="m-l-15">Trantieuman@gmail.com</span></p>

                                    <p class="text-muted font-13"><strong>Đơn vị :</strong> <span class="m-l-15">Đội ETC Đông Hà</span></p>

                                    <p class="text-muted font-13"><strong>Ngôn ngữ :</strong>
                                        <span class="m-l-5">
                                            <span class="flag-icon flag-icon-us m-r-5 m-t-0" title="us"></span>
                                            <span>English</span>
                                        </span>
                                        <span class="m-l-5">
                                            <span class="flag-icon flag-icon-vn m-r-5" title="vn"></span>
                                            <span>VN</span>
                                        </span>
                                        <span class="m-l-5">
                                    </p>

                                </div>

                                <ul class="social-links list-inline m-t-20 m-b-0">
                                    <li class="list-inline-item">
                                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Personal-Information -->

                        

                    </div>
                    <div class="col-md-6">
                            <div class="card-box ribbon-box">
                                <div class="ribbon ribbon-primary">Thành viên trong tổ:</div>
                                <div class="clearfix"></div>
                                <div class="inbox-widget">
                                    <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="assets/images/users/avatar-2.jpg" class="rounded-circle" alt=""></div>
                                            <p class="inbox-item-author">Nguyễn Văn A</p>
                                            <p class="inbox-item-text">Tổ trưởng</p>
                                            <p class="inbox-item-date m-t-10">
                                                <button type="button" class="btn btn-icon btn-xs waves-effect waves-light btn-success"> Reply </button>
                                            </p>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="assets/images/users/avatar-3.jpg" class="rounded-circle" alt=""></div>
                                            <p class="inbox-item-author">Lê Văn B</p>
                                            <p class="inbox-item-text">Nhân viên</p>
                                            <p class="inbox-item-date m-t-10">
                                                <button type="button" class="btn btn-icon btn-xs waves-effect waves-light btn-success"> Reply </button>
                                            </p>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="assets/images/users/avatar-4.jpg" class="rounded-circle" alt=""></div>
                                            <p class="inbox-item-author">Trần Văn C</p>
                                            <p class="inbox-item-text">Nhân viên</p>
                                            <p class="inbox-item-date m-t-10">
                                                <button type="button" class="btn btn-icon btn-xs waves-effect waves-light btn-success"> Reply </button>
                                            </p>
                                        </div>
                                    </a>

                                    <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="assets/images/users/avatar-5.jpg" class="rounded-circle" alt=""></div>
                                            <p class="inbox-item-author">Hoàng Văn D</p>
                                            <p class="inbox-item-text">Nhân viên</p>
                                            <p class="inbox-item-date m-t-10">
                                                <button type="button" class="btn btn-icon btn-xs waves-effect waves-light btn-success"> Reply </button>
                                            </p>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="assets/images/users/avatar-6.jpg" class="rounded-circle" alt=""></div>
                                            <p class="inbox-item-author">Ngô Văn E</p>
                                            <p class="inbox-item-text">Nhân viên</p>
                                            <p class="inbox-item-date m-t-10">
                                                <button type="button" class="btn btn-icon btn-xs waves-effect waves-light btn-success"> Reply </button>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                    </div>
                    <!-- end col -->

                </div>
                <!-- end row -->


            </div> <!-- container -->

        </div> <!-- content -->
<hr>
<!-- sample modal content -->
<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4 class="modal-title">Modal Content is Responsive</h4>
</div>
<div class="modal-body">
<div class="row">
<div class="col-md-6">
    <div class="form-group">
        <label for="field-1" class="control-label">Name</label>
        <input type="text" class="form-control" id="field-1" placeholder="John">
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <label for="field-2" class="control-label">Surname</label>
        <input type="text" class="form-control" id="field-2" placeholder="Doe">
    </div>
</div>
</div>
<div class="row">
<div class="col-md-12">
    <div class="form-group">
        <label for="field-3" class="control-label">Address</label>
        <input type="text" class="form-control" id="field-3" placeholder="Address">
    </div>
</div>
</div>
<div class="row">
<div class="col-md-4">
    <div class="form-group">
        <label for="field-4" class="control-label">City</label>
        <input type="text" class="form-control" id="field-4" placeholder="Boston">
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
        <label for="field-5" class="control-label">Country</label>
        <input type="text" class="form-control" id="field-5" placeholder="United States">
    </div>
</div>
<div class="col-md-4">
    <div class="form-group">
        <label for="field-6" class="control-label">Zip</label>
        <input type="text" class="form-control" id="field-6" placeholder="123456">
    </div>
</div>
</div>
<div class="row">
<div class="col-md-12">
    <div class="form-group no-margin">
        <label for="field-7" class="control-label">Personal Info</label>
        <textarea class="form-control" id="field-7" placeholder="Write something about yourself"></textarea>
    </div>
</div>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
<button type="button" class="btn btn-info waves-effect waves-light">Save changes</button>
</div>
</div>
</div>
</div><!-- /.modal -->