<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <h1>Đây Là Page Hướng Dẫn</h1>




        </div> 
    </div> <!-- content -->   
    <footer class="footer text-right">
        <div class="btn-all-group spacer">
            <button type="button" class="btn btn-default">Code by <i>ThanhTD</i></button>
          
        </div>
    </footer>

</div>
